/* html {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #8ad179;
    list-style-type: none;
    text-align: center;
}

h1, a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.home {
    
    
}

li {
    list-style: none;
    
    
}

.nav a {
    
    background-color:  #76b167;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    
    margin: 1rem;
    font-size: 20px;
    
} */









